---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "我的 Astro 学习博客";
---

<BaseLayout pageTitle={pageTitle}>
    <body>  
        <p>在这里，我将分享我的学习 Astro 之旅。</p>

        <ul>
            <li><a href="/posts/post-1/">文章 1</a></li>
            <li><a href="/posts/post-2/">文章 2</a></li>
            <li><a href="/posts/post-3/">文章 3</a></li>
        </ul>
    </body>
</BaseLayout>